#Device configuration file
#Device: Falls Creek Lift Station #1
#location, device number, lattitude and longitude of device and email password

[device_configuration]
email_address = icedetector.alert@gmail.com
location = Falls Creek
dev_no = 1
lat = -36.8658814
lon = 147.2869802
pw = FYP2020COVID19
api_key = beab4064bad14332ac613fdec31ed250

[device_status]
state = 0
events = 0
start_date = 

#Below are the configurable messages that are sent when there is a query for information
#Currently, there are four options: 
#1. reset the detector in the event of a false reading or a problem (complete reboot of algorithm)
#2. turn the detector on/off (toggles the state)
#3. status update: compile report of detector (weather forecast, picture of current 
#4. get help on how to use the device and interpret the results

[option_reset]
subject = <!> detector reset at
text = The ice detector has been reset at 

[option_toggle]
subject = <!> detector toggled <-> at 
text = 

[option_report]
subject = <!> status and reports collected at 
text = 

[option_help]
subject = <!> information and help requested at 
text = 

[responses]
last_response = Error: Check the help request is correct
