#Device configuration file
#Device: Falls Creek Lift Station #1
#location, device number, lattitude and longitude of device and email password

[device_configuration]
email_address = icedetector.alert@gmail.com
location = Falls Creek
dev_no = 1
lat = -36.8658814
lon = 147.2869802
pw = FYP2020COVID19
search_phrase = request FC1
api_key = e6fb28f61fb74fc3b56d44e54fd389c3

[device_status]
state = 0
events = 0

[time_check]
seconds = 1
minutes =  0
hours = 0

#Below are the configurable messages that are sent when there is a query for information
#Currently, there are four options: 
#1. reset the detector in the event of a false reading or a problem (complete reboot of algorithm)
#2. turn the detector on/off (toggles the state)
#3. status update: compile report of detector (weather forecast, picture of current 
#4. get help on how to use the device and interpret the results

[option_reset]
subject = <!> detector reset at

[option_toggle]
subject = <!> detector toggled <-> at 

[option_report]
subject = <!> status and reports collected at 

[option_help]
subject = <!> information and help requested at 

[responses]
last_response = Error: Check the help request is correct
