#Device configuration file
#location, device number, lattitude and longitude of device and email password

[device_configuration]
email_address = icedetector.alert@gmail.com
location = Falls Creek
dev_no = 1
lat = -36.8658814
lon = 147.2869802
pw = FYP2020COVID19
api_key = b5c28d04b9bf4e8f80836b1c1ec446af